/* comments */
#comments {
	font-family: Tahoma;
	font-size: 12px;
	color: #000;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#comments .commentText {
	color: #000;
	margin: 0px;
	padding: 0px;
}
#comments .comment{
	margin: 0px;
	padding: 0px;
}

#comments .commentReply{
	margin: 0 0 0 40px;
	padding: 0px;
}
.userInfo li{
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 0px;
	display: inline;
	}
.userInfo {
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}


.userStatus b{
color: #000;
font-weight: normal;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;

}
.userNick {
color: #B6172B;
font-weight: bold;
}
#comments div.commentText {
margin: 10px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}
#comments div.comment a {
	color: #B6172B;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
i.pudDate {
font-size: 12px;
color: #000;
font-weight: normal;
font-style: italic;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}
div.commentsPages {
	margin: 20px 0px 20px 0px;
	padding: 0px;
}
#addBitton.addBitton {
	font-size: 14px;
color: #B6172B;
font-weight: bold;
}

/* Add form */

#addComment .addForm {
	font-family: Tahoma;
	font-size: 12px;
	color: #B6172B;
	background: url(/images/add_comments.jpg) top left no-repeat;
	width: 479px;
	height: 480px;
	border: 0px;
	overflow: hidden;
	margin: 40px 0px 0px 0px;
	padding: 0px 0px 0px 15px;
}

#addComment .addForm h2 {
	font-size: 20px;
	color: #000;
	font-weight: normal;
	margin: 0px;
	padding: 28px 0px  15px 15px;
}
.addForm label {
	margin: 15px 0  0  15px;
	padding: 0px 0px  0px  0px;
}
.addForm input {
	color: #B6172B;
	width: 210px;
	height: 23px;
	border: 0px;
	margin: 0px;
	padding: 4pt 0pt  0pt  12pt;
}

.addForm textarea {
	margin: 15px 0  0  15px;
	padding: 4pt 0pt  0pt  10pt;
}

.messageComment {
	color: #B6172B;
	background: url(/images/commentTexst.gif) top left no-repeat;
	width: 388px;
	height: 154px;
	border: 0px;
	padding: 15px;
        margin: 0px 0  0  15px;
	overflow: hidden;
}
div.smiles {
	background: url(/images/smilesbg.gif) top left no-repeat;
	width: 388px;
	height: 77px;
	border: 0px;
	overflow: hidden;
	margin: 15px 0  0  15px;
	padding: 3px 0  0  10px;
}
div .smiles img {
	border: 0px;
}
div.smiles_forum {
	background: url(/images/smilesbg.gif) top left no-repeat;
	width: 388px;
	height: 77px;
	border: 0px;
	overflow: hidden;
	margin: 15px 0  0  0;
	padding: 3px 0  0  10px;
}
div .smiles_forum img {
	border: 0px;
}

.captchaComment input  {
	font-size: 12px;
	background: url(/images/captcha_name.gif) top left no-repeat;
margin: 15px 0  0  0px;
}
.nickComment input {
	font-size: 12px;
	background: url(/images/captcha_name.gif) top left no-repeat;
}
.addForm input.sendComment {
   	width: 174px;
	height: 15px;
	margin: 25px 0px 0px 15px;
	padding: 0px 0px 0px 0px;
}
.captchaComment img{
position: relative;
left: 10px;
top: 12px;
*top: 2px;
}