.left_text {
	float: left;
	width: 664px;
	padding-right: 20px;
	padding-bottom:0px;
}
#addComment .addForm {
	font-family: Tahoma;
	font-size: 12px;
	color: #B6172B;
	background: url(/images/add_comments.jpg) top left no-repeat;
	width: 479px;
	height: 500px;
	border: 0px;
	overflow: hidden;
	margin: 40px 0px 0px 0px;
	padding: 0px 0px 0px 15px;
}
.addForm input {
	color: #B6172B;
	width: 210px;
	height: 23px;
	border: 0px;
	margin: 0px;
	padding: 5pt 0pt  0pt  12pt;
}