.left_text {
	float: left;
	width: 664px;
	padding-right: 20px;
	padding-bottom:0px;
}
.photo2 {
	float: left;
	background: #E8E8E8;
	margin-right: 17px;
	border: solid 4px #E8E8E8;
	border-bottom: solid 4px #E8E8E8;
}